

body { 
    
    font-family: Arial, sans-serif;
    line-height: 1.6;
    /* padding-top: 0px; */
    max-height:max-content;
    max-width:max-content;
    padding-right: 20px;
    padding-left:350px;    
    background-color:#000000;
    color:aliceblue ; /* Added text color for body */
}
.red-border {
    width: 100%;
    height: 15px; /* Adjust the thickness of the red border as needed */
    background-color: red; /* Set the color of the red border */
    position:fixed; /* Set position to fixed */
    top: 0; /* Position at the top of the viewport */
    left:0;
    right : 0;
    z-index: 1; /* Ensure it's above other elements */
}
.yu,
.tu{
    color: red;
}


.container{
    max-width: 800px;
    margin: 100px;
    background-color:#1b263b;
    padding: 2rem;
    border-radius: 1rem;

}

h1 {
    text-align:left;
    padding-bottom: 20px;
    color:white;
    margin-bottom: 20px; /* Added margin at the bottom */
}

h2 {
    color: #fff; /* Increased font size */
    margin-top: 30px;
    margin-bottom: 10px; /* Added margin at the bottom */
}

h3 {
    color: #fff; /* Increased font size */
    margin-bottom: 10px; /* Added margin at the bottom */
}

p {
    color: #fff;
    font-size: 19px; /* Increased font size */
    line-height: 1.8; /* Adjusted line height */
    margin-bottom: 15px;
}
ul {
    margin-bottom: 20px;
}
li {
    margin-bottom: 5px;
}




img {
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width:100%;
    height:auto;
    margin-bottom: 20px;
    transition: transform 0.3s ease; /* Added smooth transition */
    cursor: pointer; /* Added pointer cursor for better usability */

    /* animation  */
    scale: 0.5; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
}

/* new animation */
@keyframes fade-in {
    to{scale: 1; opacity: 1;}
}
/* animation end */

img:hover {
    transform: scale(1.05); /* Added hover effect to scale up the image */
}



/* Additional styling for links */
a {
    color: #ffd380; /* Link color */
    text-decoration: none; /* Remove underline */
    
}

a:hover {
    text-decoration: underline; /* Add underline on hover */
}
        
/* Add custom styling for the table of contents */
#table-of-contents {
    position:fixed;
    top: 120px; /* Adjust as needed */
    left: 20px; /* Adjust as needed */
    background-color: rgba(255, 255, 255, 0.276);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 1000;
} 

#table-of-contents h2 {
    color:aliceblue;
    font-size: 20px;
    margin-bottom: 10px;
}

#table-of-contents ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#er{
    color: red;
    font-weight: 600;
    font-size: large;
}

#table-of-contents li {
    margin-bottom: 10px;
}

#table-of-contents a {
    color:rgb(255, 252, 252);
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

#table-of-contents a:hover {
    text-decoration:none;
    color: red;    
}

/* site name */


.site-name {
    
    position:fixed;
    top: 15px;
    left: 20px;
    font-size: 30px;
    padding: 10px;
    font-weight:lighter;
    z-index: 1000;
    transition: top 0.3s ease;
}

.site-name.sticky {
    top: 10px; /* Adjust as needed */
} 

.best-chest-exercises{
    font-family:cursive;
    position:relative;
    top : 0px;
    text-align: center;
    font-size: 100px;
    font-weight:lighter;
} 

.ak{
    display: flex;
    justify-content: space-around;
}
.lk{
    width: 40rem;
}
.lj{
    position: relative;
    left: 1rem;
    margin-top: 6rem;
    width: 40%;
}
/* buttons */
/* Button styling */
.secondary-button {
    display: inline-block;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.secondary-button {
    background-color:red;
    color: white;
    position: fixed;
    bottom: 5px;
    right: 20px;
}

/* Button hover effect */
.primary-button:hover,
.secondary-button:hover,
.tertiary-button:hover {
    background-color: darken(#007bff, 10%);
}



