* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  body{
    width: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:black
}
.container{
  box-shadow: rgba(241, 239, 239, 0.25) 0px 54px 55px, rgba(211, 204, 204, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
padding: 4em 4em;
background-color:rgba(9, 9, 9, 0.596);
border-radius:.7rem ;
}
.content{
    padding-top: 2em;
    
}
.content a{
    text-decoration:none;
}
.heading h1{
  color: red;
  margin-left: 54px;
}
input[type="text"]   {
  font-size: 13px;
  height: 28px;
  width: 100%;
  background-color: transparent;
  outline: none;
  background-color: #a3a3a331;
  padding: 19px 21px;
  border: none;
  color: white;
  border-radius: 5px;
}
input[type="password"]{
  font-size: 13px;
  height: 28px;
  width: 100%;
  background-color: transparent;
  outline: none;
  background-color: #a3a3a331;
  padding: 19px 21px;
  border: none;
  border-radius: 5px;

}
input[type="submit"]{
  font-size: 19px;
  margin-block: 15px;
  font-weight: 600;
background-color:  red;
border-radius: 10px;
color: white;
width: 100%;
height: 5vh;
display: flex;
justify-content: center;
border: none;

}
input[type="submit"]:hover{
  cursor: pointer;
}
.content a{
  font-size: small;
}
.imga{
  display: flex;
  justify-content: center;
  /* aspect-ratio: 3/2; */
}
.imga a img{
  height: 35px;
  margin-inline: 13px;
}
.imga a img:hover{
  height: 40px;
}

.signup{
  font-size: small;
  padding-top: 12px;
  color: #5851e3;
  text-decoration: none;
  text-align: center;
}
.signup a{
  font-size: small;
  font-weight: 700;
  color: red;
}
